
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    match /users/{userId} {
      allow read: if isAuthenticated() && (isAdmin() || isOwner(userId));
      allow list: if isAuthenticated() && isAdmin();
      allow create: if isOwner(userId);
      allow update: if isAuthenticated() && (isAdmin() || (isOwner(userId) && request.resource.data.isAdmin == resource.data.isAdmin));
      allow delete: if false;
    }

    match /about/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /certificates/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /certificates-section/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /contact-info/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /contact-section/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /gallery/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /home/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /partners/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /products/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /products-section/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /seo/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /social-links/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /terms/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /testimonials/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    match /testimonials-section/{docId} {
        allow read: if true;
        allow write: if isAuthenticated() && isAdmin();
    }
    
    match /submissions/{submissionId} {
      allow create: if true;
      allow read, update, delete: if isAuthenticated() && isAdmin();
    }

    match /orders/{orderId} {
      allow create: if true;
      allow read, update, delete: if isAuthenticated() && isAdmin();
    }
  }
}
